<div class="mt-3 d-md-none"></div>
<section class="card border-0 shadow-sm bg-white">
  <div class="card-body p-4">
    <h2 class="h3 px-3 pt-3">About Me</h2>
    <div class="text-profile-bio p-3">{{ site.data.profile.short_bio }}</div>
    <div class="px-3 pb-3">
      <h3 class="h6">Research Interests</h3>
      <ul class="mb-0 pl-3">
        {% for item in site.data.profile.research_interests %}
        <li class="mb-1"><strong>{{ item.name }}:</strong> {{ item.details }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

